 AddDefaultCharset UTF-8
 Options -Indexes
 Options FollowSymlinks
 RewriteEngine On
 RewriteCond %{REQUEST_URI} ^/(My_Yii2/admin)
 RewriteRule ^admin(\/?.*)$ backend/web/$1 [L]
 
 RewriteCond %{REQUEST_URI} ^/(My_Yii2)
 RewriteRule ^(\/?.*)$ frontend/web/$1 [L]
 
# Если frontend запрос
RewriteCond %{REQUEST_URI} !^/frontend/(web)
RewriteRule ^assets/(.*)$ /frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ /frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ /frontend/web/js/$1 [L]
RewriteRule ^images/(.*)$ /frontend/web/images/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /frontend/web/$1

# Если backend запрос
RewriteCond %{REQUEST_URI} ^/backend/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /backend/web/index.php
# same for backend - то же самое, но для бэкенда
RewriteRule ^assets/(.*)$ /backend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ /backend/web/css/$1 [L]
RewriteRule ^js/(.*)$ /backend/web/js/$1 [L]
RewriteRule ^images/(.*)$ /backend/web/images/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /backend/web/$1

